/* Header */
header {
    text-align: center;
    background-color: #e0e0e0; /* Warna abu-abu muda */
    color: black; /* Warna teks */
    padding: 10px;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Warna latar belakang putih */
    color: black; /* Warna teks */
}

/* Kontainer */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Kalkulator dan Hasil */
.calculator,
.result {
    background-color: #f5f5f5; /* Warna latar belakang abu-abu muda */
    padding: 20px;
    border-radius: 10px;
    color: black; /* Warna teks */
}

.result {
    text-align: center;
    font-size: 20px; /* Ukuran teks hasil BMI */
}

.calculator {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result h2 {
    margin-top: 0;
}

/* Gaya formulir */
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc; /* Border abu-abu muda */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #cccccc; /* Biru hijau */
    color: white; /* Teks putih */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5e5e5e; /* Biru hijau lebih gelap saat dihover */
}

/* Media queries untuk responsivitas */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 2fr;
    }
}

/* Stil untuk elemen 'strong' dalam hasil */
.result strong {
    display: block;
    margin-bottom: 5px;
}

.result strong:first-of-type {
    margin-top: 5px;
}
